<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.4c33c5a6.css" media="print"/>
</head>
<body>
    <div class="print-wrapper print-patient-summary">
        <div class="print-header">
                <span ng-init="currentvisit = (visitHistory.visits | filter:{uuid:visitUuid})[0]">
                    <span ng-init="currentvisitlocationlogo = (currentvisit.location.attributes | filter:{display:'logo'})[0]">
                    <span ng-init="imgsrc=(currentvisitlocationlogo.display.substring(5).trim() ? currentvisitlocationlogo.display.substring(5).trim(): visitTabConfig.getPrintConfigForCurrentTab().logo)"></span>
                    <h1>
                        <img ng-if="imgsrc" class="logo" ng-src="{{imgsrc}}" alt="logo">
                    {{currentvisit.location.description}}
                    </h1>
                    {{currentvisit.location.address1}}, {{currentvisit.location.address2}}<br>
                    {{currentvisit.location.cityVillage}}, {{currentvisit.location.stateProvince}}<br>                    
                </span>
            <h2>{{visitTabConfig.getPrintConfigForCurrentTab().header}}</h2>
        </div>
        <div ng-include="currentVisitUrl"></div>
    </div>
</body>
</html>
